<%- include('./partials/header') %>


<div class="container">
  <form action="#" method="post">
    <div>
        <label for="category-name">Name:</label>
        <input type="text" id="category-name" minlength="3" name="categoryName">
    </div>
    <br>
    <div>
        <label for="category-desc">Description:</label>
        <textarea type="text" id="category-desc" minlength="3" name="categoryDesc"></textarea>
    </div>
  </form>
</div>


<%- include('./partials/footer') %>