<%- include('./partials/header') %>


<div class="container">
  <h2>Total Count of Inventory</h2>
  <p><strong>Categories Count: </strong><%= category_count %></p>
  <p><strong>Items Count: </strong><%= items_count %></p>
</div>


<%- include('./partials/footer') %>