<%- include('./partials/header') %>


<div class="container">
    <form action="#" method="post">
        <h2><strong>Are you sure you want to delete this category?</strong></h2>
        <a href="<%= locals.itemLink %>"><button type="button">No</button></a>
        <button type="submit">Yes</button>
    </form>
</div>


<%- include('./partials/footer') %>