body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: underline;
}

.links-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.container {
  padding-top: 50px;
}
